<footer class="footer bg-info pb-5 pt-2">
    <div class="col-md-8 m-auto">
        <div class="">
            <div class="d-flex mb-3">
                <div class="p-1 bg-white mr-2" style="border-radius:10%;">
                    <i class="fa fa-envelope fa-2x"></i>
                </div>
                <div>
                    <h5 class="text-white">EMAIL SUPPORT</h5>
                    <h6 class="text-muted">igwezehycient86@gmail.com</h6>
                </div>
            </div>
            <div class="d-flex">
                <div class="p-1 bg-white mr-2" style="border-radius:10%;">
                    <i class="fa fa-phone fa-2x"></i>
                </div>
                <div>
                    <h5 class="text-white">PHONE SUPPORT</h5>
                    <h6 class="text-muted">07088639675</P>
                </div>
            </div>
        </div>
        <center>
            <h6 class="text-muted">GET LATEST DEALS</h6>
        </center>
        <form class="form-group d-flex mb-3" action="" method="POST">
            <input type="email" id="email" name=" email" class="form-control">
            <input type="submit" id="subscribe" name=" subscribe" value="subscribe" class="btn btn-primary btn-sm " style="float: right;">
        </form>
        <h6 class="text-white">CONNECT WITH US</h6>
        <div class="links">
            <i class="fa fa-instagram fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-facebook fa-2x"></i>
            <i class="fa fa-github fa-2x"></i>
        </div>
    </div>

</footer>