<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
    <header>
        <nav class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <h3 class="mt-2"><span class="text-info">Wona</span>-Shop</h3>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="error bg-danger text-white">
                    <p id="error"></p>
                </div>
                <div class="success bg-success text-white">
                    <p id="success"></p>
                </div>
            </div>
        </div>
    </div>
    <main class="container-fluid ">
        <div class="row ">
            <div class="col-md-6 m-auto">
                <center>
                    <h5>Become A Vendor</h5>
                    <p class="text-primary">Register As A Vendor</p>
                </center>
                <form method="POST" action="../api/api_controller.php" enctype="multipart/form-data" id="registerform" class="form-group">
                    <label>Comapny Name :</label>
                    <input type="text" name="vendor_username" id="vendor_username" class="form-control mb-2" required important>
                    <label>Office Address :</label>
                    <input type="text" name="vendor_address" id="vendor_address" class="form-control mb-2" required important>
                    <label>Phone :</label>
                    <input type="text" name="vendor_phone" id="vendor_phone" class="form-control mb-2" required important>
                    <label>Email :</label>
                    <input type="email" name="vendor_email" id="vendor_email" class="form-control mb-2" required important>
                    <label>Password :</label>
                    <input type="text" name="vendor_pass" id="vendor_pass" class="form-control mb-2" required important>
                    <label>Confirm Password :</label>
                    <input type="text" name="vendor_cpass" id="vendor_cpass" class="form-control mb-2" required important>
                    <input type="submit" class="btn btn-primary btn-sm" id="register" name="vendor_register" value="register" style="float:right;">
                </form>
                <a href="./login.html" class="btn ">login</a>
            </div>
        </div>
        </div>
    </main><br>
</body>
<script src=" https://code.jquery.com/jquery-3.5.1.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
<script src="../assets/script.js"></script>
</script>

</html>