<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wona-shop</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
    <header>
        <nav class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <h3 class="mt-2 mb-3"><span class="text-info">Wona</span>-Shop</h3><br>
                    <form class="form-inline" id="searchbar1">
                        <input type="text" id="searchQuery" class="form-control col mr-1" name="searchQuery">
                        <button type="submit" class="btn btn-tone-4 btn-sm"><i class="fa fa-location-arrow"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <hr>

    <main class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <ul id="searchcontainer" style="list-style-type: none;">

                </ul>
            </div>
        </div>
    </main><br>
    <footer class="footer bg-primary pb-5  pt-2 mt-5">
        <div class="col-md-8 m-auto ">
            <div class="bg-white p-5">
                <div class="d-flex mb-3">
                    <div class="p-1 mr-2" style="border-radius:10%;">
                        <i class="fa fa-envelope fa-2x"></i>
                    </div>
                    <div>
                        <h5 class="text-muted">EMAIL SUPPORT</h5>
                        <h6 class="text-muted">igwezehycient86@gmail.com</h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-1 bg-white mr-2" style="border-radius:10%;">
                        <i class="fa fa-phone fa-2x"></i>
                    </div>
                    <div>
                        <h5 class="text-muted">PHONE SUPPORT</h5>
                        <h6 class="text-muted">07088639675</P>
                    </div>
                </div>
            </div>
            <div class="bg-dark p-5">
                <center>
                    <h6 class="text-muted">GET LATEST DEALS</h6>
                </center>
                <form class="form-group d-flex mb-3" action="" method="POST">
                    <input type="email" id="email" name=" email" class="form-control">
                    <input type="submit" id="subscribe" name=" subscribe" value="subscribe" class="btn btn-primary btn-sm " style="float: right;">
                </form>
                <h6 class="text-white">CONNECT WITH US</h6>
                <div class="links">
                    <i class="fa fa-instagram fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i>
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-github fa-2x"></i>
                </div>
            </div>
        </div>

    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
<script src="../assets/script.js"></script>
<script>
    $(document).ready(() => {
        const queryString = window.location.search;

        const urlParams = new URLSearchParams(queryString);

        const searchQuery = urlParams.get('searchQuery');

        if (searchQuery != "") {
            $.ajax({
                url: '../api/api_controller.php',
                type: 'POST',
                data: {
                    "searchQuery": searchQuery,
                },
                dataType: "JSON",
                success: (data) => {
                    if (data.status == "failed") {
                        output = `<li>${data.message}</li>`
                        $("#searchcontainer").fadeIn()
                        $("#searchcontainer").append(output)
                    } else {
                        $.each(data.data, (i, val) => {
                            output = `
                            <li class="d-flex mb-3">
                            <video src="../assets/products/${val.vid}" muted autoplay class="imgthumbnail w-25"></video>
                            <div class="ml-2">
                                <a href="./single_view.html?productid=${val.productid}&category=${val.category}">
                            <h6>${val.title}</h6> 
                            <p>${val.description}</p> 
                            <span class="badge bg-danger text-white mr-1"># <strike>${parseInt(val.price).toLocaleString()}</strike></span>
                             <span class="badge bg-success text-white mr-1"># ${parseInt(val.discount).toLocaleString()}</span>
                            </a>
                             </div>  
                            </li>
                            `
                            $("#searchcontainer").fadeIn()
                            $("#searchcontainer").append(output)
                        })
                    }
                }
            })
        } else {
            $("#searchcontainer").fadeOut()
        }

        $("#searchbar").submit((e) => {
            e.preventDefault()
            $("#searchcontainer").empty()

            searchQ = $("#searchQuery").val();
            if (searchQ != "") {
                $.ajax({
                    url: '../api/api_controller.php',
                    type: 'POST',
                    data: {
                        "searchQuery": searchQ,
                    },
                    dataType: "JSON",
                    success: (data) => {
                        if (data.status == "failed") {
                            output = `<li>${data.message}</li>`
                            $("#searchcontainer").fadeIn()
                            $("#searchcontainer").append(output)
                        } else {
                            $.each(data.data, (i, val) => {
                                output = `
                            <li class="d-flex mb-3">
                            <video src="../assets/products/${val.vid}" muted autoplay class="imgthumbnail w-25"></video>
                            <div class="ml-2">
                                <a href="./single_view.html?productid=${val.productid}&category=${val.category}">
                            <h6>${val.title}</h6> 
                            <p>${val.description}</p> 
                            <span class="badge bg-danger text-white mr-1"># <strike>${parseInt(val.price).toLocaleString()}</strike></span>
                             <span class="badge bg-success text-white mr-1"># ${parseInt(val.discount).toLocaleString()}</span>
                            </a>
                             </div>  
                            </li>
                            `
                                $("#searchcontainer").fadeIn()
                                $("#searchcontainer").append(output)
                            })
                        }
                    }
                })
            } else {
                $("#searchcontainer").fadeOut()
            }
        })
    })
</script>

</html>