<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>views/single_view</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
    <header>
        <nav class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <h3 class="mt-2 mb-3"><span class="text-info">Wona</span>-Shop</h3><br>
                    <form class="form-inline" id="searchbar" action="./searchProduct.html">
                        <input type="text" class="form-control col mr-1" name="searchQuery">
                        <button type="submit" class="btn btn-tone-4 btn-sm"><i class="fa fa-location-arrow"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <main class="data">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto ">
                    <div class="row single_view_holder">

                    </div>
                    <br>
                    <div class="mb-5 reviewsection">
                        <h6>LEAVE YOUR REVIEW</h6>
                        <br>
                        <form class="form-group mb-5" method="POST" id="reviewform">
                            <input type="text" class="form-control m-3" id="reviewer" name="reviewer" placeholder="Your Name...">
                            <textarea class="form-control m-3" id="review" name="review" placeholder="Your Review..."></textarea>
                            <input type="submit" value="SUBMIT REVIEW" name="submitreview" class="btn btn-danger" style="float: right;">
                        </form>
                        <div class="">
                            <h6>REVIEWS</h6>
                            <div class=" reviews">

                            </div>
                        </div>
                    </div><br><br>
                    <h6>RELATED POST</h6>
                    <div class="mt-3 relatedproduct" style="display: flex;border:1px solid rgb(207, 203, 203);overflow-x: scroll;">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer bg-primary pb-5  pt-2 mt-5">
        <div class="col-md-8 m-auto ">
            <div class="bg-white p-5">
                <div class="d-flex mb-3">
                    <div class="p-1 mr-2" style="border-radius:10%;">
                        <i class="fa fa-envelope fa-2x"></i>
                    </div>
                    <div>
                        <h5 class="text-muted">EMAIL SUPPORT</h5>
                        <h6 class="text-muted">igwezehycient86@gmail.com</h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-1 bg-white mr-2" style="border-radius:10%;">
                        <i class="fa fa-phone fa-2x"></i>
                    </div>
                    <div>
                        <h5 class="text-muted">PHONE SUPPORT</h5>
                        <h6 class="text-muted">07088639675</P>
                    </div>
                </div>
            </div>
            <div class="bg-dark p-5">
                <center>
                    <h6 class="text-muted">GET LATEST DEALS</h6>
                </center>
                <form class="form-group d-flex mb-3" action="" method="POST">
                    <input type="email" id="email" name=" email" class="form-control">
                    <input type="submit" id="subscribe" name=" subscribe" value="subscribe" class="btn btn-primary btn-sm " style="float: right;">
                </form>
                <h6 class="text-white">CONNECT WITH US</h6>
                <div class="links">
                    <i class="fa fa-instagram fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i>
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-github fa-2x"></i>
                </div>
            </div>
        </div>

    </footer>
</body>
<script src=" https://code.jquery.com/jquery-3.5.1.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
<script src="../assets/script.js"></script>
<script>
    $(document).ready(() => {
        const queryString = window.location.search;

        const urlParams = new URLSearchParams(queryString);

        const productid = urlParams.get('productid');
        const category = urlParams.get('category');

        $.ajax({
            url: '../api/api_controller.php',
            type: 'POST',
            data: {
                "productid": productid,
                "category": category,
                "single_view": "single_view"
            },
            dataType: "JSON",
            success: data => {
                if (data.status == "failed") {
                    console.log(data);
                } else {
                    $.each(data, (i, val) => {
                        output = `
                             <div class="col-md-6" style="margin-bottom:260px">
                                 <div class="card" id="videotag">
                                     <div class="card-body">
                                         <video src="../assets/products/${val.vid}" muted autoplay class="img-thumbnail" style="height:230px;width:100%;margin-top:-10px;"></video>
                                     </div>
                                     <div class="card-footer col-sm-mt-2">
                                         <span class="badge bg-danger text-white">#<strike>${parseInt(val.price).toLocaleString()}</strike></span>
                                         <span class="badge bg-warning text-success"># ${parseInt(val.discount).toLocaleString()}</span>
                                         <form class="form-inline">
                                             <input type="hidden" name="productid" id="productid" value="${val.productid}">
                                             <input type="number" name="quantity" id="quantity" placeholder=" qty" class="form-control m-2">
                                             <input class="btn btn-sm btn-success" type="submit" value="Buy Now">
                                         </form>
                                         <div class="btn-group">
                                         <a href="./chats/user_messages.php?shop_id=${val.shop_id}" class="btn btn-sm btn-info">Message Seller</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-6">
                                 <img src="../assets/products/${val.photo}" class="img-thumbnail mb-2" style="width:100%;height:230px">
                                 <h5>Full Details</h5>
                                 <div class="card">
                                     <div class="card-header">
                                         <h6 class="card-title">${val.title}</h6>
                                     </div>
                                     <div class="card-body">
                                     <h6>QTY Available : ${val.qty} <span class="badge bg-info text-white">Category : ${val.category}</h6>
                                        ${val.description}
                                     </div>
                                 </div>
                             </div>   `;
                        $(".single_view_holder").append(output);
                    })
                }
            }
        })

        $.ajax({
            url: '../api/api_controller.php',
            type: 'POST',
            data: {
                "productid": productid,
                "category": category,
                "selectCategory": "selectCategory"
            },
            dataType: "JSON",
            success: data => {
                if (data.status == "failed") {
                    console.log(data);
                } else {
                    $.each(data, (i, val) => {
                        output = ` <div class="col-md-4 mt-2">
                        <div class="card">
                            <div class="card-body p-1">
                                <a href="./single_view.html?productid=${val.productid}&category=${val.category}">
                                    <video src="../assets/products/${val.vid}" muted autoplay class="img-thumbnail" style="height:230px;width:100%;margin-top:-1px;"></video>
                                </a>
                            </div>
                            <div class="card-footer p-1">
                                <p class="text-muted">${val.title}</p>
                                <div class="d-flex">
                                    <span class="badge bg-warning text-white"># <strike>${parseInt(val.price).toLocaleString()}</strike></span>
                                    <span class="badge bg-success text-white"># ${parseInt(val.discount).toLocaleString()}</span>
                                    <button class="btn btn-sm mutted">add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>`;
                        $(".relatedproduct").append(output);
                    });
                }
            }
        })
        $("#reviewform").submit((e) => {
            e.preventDefault();
            reviewer = $("#reviewer").val();
            review = $("#review").val();
            $.ajax({
                url: '../api/api_controller.php',
                type: 'POST',
                data: {
                    "submitreview": "submitreview",
                    "reviewer": reviewer,
                    "review": review,
                    "productid": productid,
                },
                dataType: "JSON",
                success: data => {
                    console.log(data);
                }
            })

        });

        $.ajax({
            url: '../api/api_controller.php',
            type: 'POST',
            data: {
                "fetchreview": "fetchreview",
                "productid": productid
            },
            dataType: "JSON",
            success: data => {
                if (data.status == "failed") {

                    outpu = ` <div class="card mb-4">
                            <div class="card-header d-flex">
                                          <h6>be the first to submit  a review</h6>
                            </div>
                        </div>
                    `;
                    $(".reviews").append(outpu);
                    console.log(data);
                } else {
                    $.each(data, (i, val) => {
                        output = ` 
                        <div class="card mb-4">
                            <div class="card-header d-flex">
                                <div class="img-thumbnail ml-3 mr-2 p-2">
                                <i class="fa fa-user"></i>
                                </div>
                                <h6 class="card-title">${val.reviewer}</h6>
                            </div>
                            <div class="card-body">
                                ${val.review}
                            </div>
                        </div>
                    `;
                        $(".reviews").append(output);
                    });
                }
            }
        })

    })
</script>

</html>