body {
    box-sizing: border-box;
}

#headers {
    background-color: #363258;
    height: 150px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#searchbar1 {
    margin-top: -10px;
}

#searchbar2 {
    margin-top: -30px;
}

#searchbar2 input {
    height: 30px;
    background-color: #070606;
    color: #f3e5f5;
    border: 2px solid rgb(36, 111, 134);
}

#searchbar1 input {
    height: 30px;
    background-color: #070606;
    color: #f3e5f5;
    border: 2px solid rgb(36, 111, 134);
}

.error {
    border-radius: 10px;
}

.col-md-4 .card .card-body img {
    width: 100%;
    height: 150px;
}

.flash {
    width: 30%;
    height: 50px;
    margin-bottom: 110px;
}

.flash .card .card-body img {
    width: 100%;
    height: 40px;
}

#contentholder {
    height: 1000px;
    overflow-y: scroll;
    margin: 10px;
}

#box {
    margin-bottom: 20px;
}

@media(min-width:780px) {
    .side {
        position: fixed;
        height: 100vh;
        overflow: scroll;
        margin-top: -10px;
    }
    .first-button {
        display: none;
    }
    #navbarSupportedContent20 {
        display: none;
    }
    .addnew {
        float: right;
    }
    .boxes {
        margin-left: 105px;
    }
    .boxes .card {
        height: 80px;
    }
    #registerlink {
        display: none;
    }
    .videotag {
        height: 250px;
    }
    #videotag {
        width: 100%;
        height: 250px;
    }
    #videotag .videotag video {
        width: 100%;
    }
    #contentholder {
        margin-left: 105px;
    }
    #headers {
        background-color: #363258;
        height: 200px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    #searchbar1 {
        margin-top: 17px;
    }
}

@media(max-width:780px) {
    .registerForm {
        display: none;
    }
    .side {
        display: none;
    }
    .addnew {
        float: right;
    }
    .boxes .card {
        width: 40%;
        height: 80px;
    }
    .videotag {
        height: 200px;
    }
    #videotag {
        width: 100%;
        height: 200px;
    }
    #videotag .videotag video {
        width: 100%;
    }
    .flash card {
        margin-top: 20px;
    }
}

#form input {
    border-left: 4px solid rgb(112, 133, 153);
}

.side {
    background-color: rgb(4, 8, 22);
}

.side ul {
    list-style: none;
    font-size: 1em;
    font-weight: 1em;
}

.side ul li a:hover {
    background-color: rgb(194, 197, 17);
    color: #ffff;
    padding: 3px;
    text-decoration: none;
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #070606;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}


/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}